<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4 bg-lightGray p-5 rounded-3 position-absolute top-50 start-50 translate-middle">
      <h2>Cadastre-se</h2>
      <div class="spacer"></div>
        <input type="text" class="form-control mb-4" placeholder="Nome completo">
        <input type="text" class="form-control mb-4" placeholder="Digite seu email">
        <input type="text" class="form-control mb-4" placeholder="Digite sua senha">
        <input type="text" class="form-control mb-4" placeholder="Confirme sua senha">

        <div class="form-check mb-3">
          <input id="checkCliente" class="form-check-input p-2" type="checkbox" checked>
          <label class="form-check-label" for="checkCliente">
            Cliente
          </label>
        </div>
        <div class="form-check mb-3">
          <input id="checkRevendedor" class="form-check-input p-2" type="checkbox">
          <label class="form-check-label" for="checkRevendedor">
            Revendedor
          </label>
        </div>
        <a class="btn bg-darkBlue w-100 mt-3 mb-3" role="button">Cadastrar</a>
        <p class="text-center">
          <a routerLink="/login" class="text-danger text-decoration-none w-100">Cancelar</a>
        </p>
      </div>
  </div>
</div>
