<div class="container-fluid">
  <div class="row">
    <img src="https://dealersites-content.s3.sa-east-1.amazonaws.com/proauto/pro-auto-veiculos/banners/capa%20proauto3.0.png">
  </div>
  <div class="row ms-5 mt-3">
    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img src="https://image.webmotors.com.br/_fotos/anunciousados/gigante/2021/202108/20210830/volkswagen-golf-2.0-tsi-gti-16v-turbo-gasolina-4p-automatico-wmimagem13251687568.jpg?s=fill&w=1920&h=1440&q=75" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">VolksWagen Golf</h5>
          <p class="card-text">2.0 TSI GTI 16V turbo gasolina 4P automático</p>
          <span class="fs-4"><strong>R$115.890</strong></span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img src="https://image.webmotors.com.br/_fotos/anunciousados/gigante/2021/202111/20211120/fiat-uno-1.0-fire-flex-attractive-manual-wmimagem21414302972.jpg?s=fill&w=1920&h=1440&q=75" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fiat Uno</h5>
          <p class="card-text">1.0 Fire flex attractive manual</p>
          <span class="fs-4"><strong>R$44.900</strong></span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img src="https://image.webmotors.com.br/_fotos/anunciousados/gigante/2021/202110/20211019/chevrolet-onix-1.0-mpfi-joy-8v-flex-4p-manual-wmimagem18000151416.jpg?s=fill&w=1920&h=1440&q=75" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chevrolet Onix</h5>
          <p class="card-text">1.0 MPFI Joy 8V Flex 4P manual</p>
          <span class="fs-4"><strong>R$52.900</strong></span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img src="https://image.webmotors.com.br/_fotos/anunciousados/gigante/2021/202112/20211202/chevrolet-cobalt-1.8-mpfi-ltz-8v-flex-4p-automatico-wmimagem15204856352.jpg?s=fill&w=1920&h=1440&q=75" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chevrolet Cobalt</h5>
          <p class="card-text">1.8 MPFI LTZ 8V Flex 4P automático</p>
          <span class="fs-4"><strong>R$72.490</strong></span>
        </div>
      </div>
    </div>

  </div>
</div>
