#verticalNav {
  padding: 1rem;
  color: black;
  background-color: #138cce;
  height: 100vh !important;
  float: left;
  width: 8rem;
}

#navItem {
  text-align: center;
  background-color: #eff7f3;
}
