<div class="h-100 verticalNav">
  <a routerLink="/" class="p-1">
    <img width="100" src="assets/CarStore.png"/>
  </a>

  <a routerLink="/login" class="btn rounded-0 rounded-start navItem m-3 mt-5 p-2 w-100">
    <i class="bi bi-person-fill"></i>
    Perfil
  </a>

  <a routerLink="/veiculos" class="btn rounded-0 rounded-start navItem m-3 mt-5 p-2 w-100">
    <img src="https://autoescolacantu.com.br/car.png" width="11px"/>
    Comprar
  </a>

  <a routerLink="/cadveiculos" class="btn rounded-0 rounded-start navItem m-3 mt-5 p-2 w-100">
    <img src="https://autoescolacantu.com.br/car.png" width="11px"/>
    Vender
  </a>
</div>
