<div id="verticalNav" class="h-100">
  <a href="" class="p-3"><img width="65" src="assets/carStoreLogo.png"></a>
  <a href="cadClientes" id="navItems" class="btn rounded-0 rounded-start m-3 p-1 w-100 bg-light">Sing in</a>
  <a href="cadVeiculos" id="navItems" class="btn rounded-0 rounded-start m-3 p-1 w-100 bg-light">Cadastro de veículos</a>
  <a href="detalhes" id="navItems" class="btn rounded-0 rounded-start m-3 p-1 w-100 bg-light">Detalhes</a>
  <a href="login" id="navItems" class="btn rounded-0 rounded-start m-3 p-1 w-100 bg-light">Login</a>
  <a href="veiculos" id="navItems" class="btn rounded-0 rounded-start m-3 p-1 w-100 bg-light">Veículos</a>
</div>
