/* You can add global styles to this file, and also import other style files */

.spacer {
  width: 3rem;
  height: 3rem;
}

.fs-15px {
  font-size: 15px;
}

#body {
  background-color: #f2f3f8;
}

#navItem {
  background-color: #f2f3f8;
}

.bg-lightGray {
  background-color: #e2e3e8;
}

.bg-darkBlue {
  background-color: #054d91 !important;
  color: white !important;
}
